:root{
    --black-matteBlack: #28282B;
    --black-default: #030104;
    --black-picker: #232323;
    --black-pickerLight: #2c2c2c;
    
    --white-offWhite: #FAF9F6;
    --white-bone: 	#F9F6EE;
    
    --second-skyBlue: #87CEEB;
    --second-steel:	#4682B4;
    --second-indigo: 	#3F00FF;
    
    --accent-purple: #800080;
    --accent-purple-light:	#9C6FE4;
    --accent-rose: 	#F33A6A;
    --accent-pink: 	#FFB6C1;

    --gray: #333437;
    --gray-picker-light: #C6C7C8;
    --gray-picker-dark: #6B6D70;
    --gray-picker: #98989B; 

}
*{
    font-family: "Lato", sans-serif;
}
.tasks-tab{
    position: absolute;
    width: 94vw;
    height: 100vh;
    right: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}
.side-container, .side-container-task{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 23vw;
    height: calc(100% - 2rem);
    border: none;
    border-radius: 2rem;
    background-color: var(--black-picker);
    box-shadow: .2rem .2rem .2rem 0 var(--accent-pink);
    animation: show .8s ease-in-out forwards;
}

.side-container-none, .side-container-task-none{
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 23vw;
    height: calc(100% - 2rem);
    border: none;
    border-radius: 2rem;
    background-color: var(--black-picker);
    box-shadow: .2rem .2rem .2rem 0 var(--accent-pink);
    animation: leave .8s ease-in-out forwards;
    
}
@keyframes leave {
    0%{
        right: 1rem;
        opacity: 1;
    }
    100%{
        right: -25vw;
        opacity: 0;
    }
    
}
@keyframes show {
    0%{
        right: -25vw;
        opacity: 0;
    }
    100%{
        right: 1rem;
        opacity: 1;
    }
    
}
.side-back{
    font-size: 1.3rem;
    background-color: rgba(255,182,193,.7);
    box-shadow: .2rem .2rem .2rem var(--black-default);
    color: var(--black-matteBlack);
    padding: .2rem .8rem;
    border: none;
    border-radius: .9rem;
    position: absolute;
    right: 2rem;
    top: 1rem;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
.side-back:hover{
    background-color: rgba(255,182,193,1);
}
.side-title{
    color: var(--white-offWhite);
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.side-data{
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0;
    width: 90%;
    margin: 0 0 0 1rem;
    height: 100%;
    gap: 3rem;
}
.side-subtitle, .side-status, .side-priority, .side-date, .side-desc, .side-hour, .side-category{
    color: var(--white-offWhite);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
}
.side-subtitle-box, .select-priority, .select-status, .side-date-box, .side-hour-box, .side-desc-area, .select-category{
    background-color: var(--black-pickerLight);
    color: var(--white-offWhite);
    width: 9vw;
    height: 4vh;
    padding: 0 1rem;
    font-size: 1rem;
    border: .125rem solid var(--black-pickerLight);
    border-bottom: .125rem solid var(--accent-pink);
    border-radius: .5rem;
    appearance: none;
    cursor: pointer;
}
.select-priority, .select-status, .select-category{
    width: calc(10vw + 1rem);
    height: 4vh;
    background-color: var(--black-pickerLight);
    border: .125rem solid var(--black-pickerLight);
    border-bottom: .125rem solid var(--accent-pink);
    border-radius: .5rem;
    font-size: 1rem;
    padding: 0 0 0 1rem;
    color: var(--white-offWhite);
    outline: none; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    cursor: pointer;
}
.side-date-box, .side-hour-box{
    cursor: default;
}
.side-date-box::-webkit-calendar-picker-indicator, .side-hour-box::-webkit-calendar-picker-indicator  {
    filter: invert(1);
    transform: scale(1.5);
    cursor: pointer;
}
.side-desc-area{
    width: 10vw;
    height: 10vh;
    padding-top: 1rem;
}
select:focus, .side-date-box:focus, .side-hour-box:focus, .side-desc-area:focus, .side-subtitle-box:focus{
    outline: none;
    border: .125rem solid var(--black-picker);
    border-bottom: .125rem solid var(--accent-pink);
    background-color: var(--black-picker);
}
option{
    color: var(--white-bone);
}
.side-buttons{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    bottom: 1rem;
}
.side-button{
    font-size: 1.2rem;
    width: 6vw;
    padding: .5rem 0;
    border: none;
    border-radius: 1rem;
    color: var(--white-offWhite);
    background-color: var(--black-pickerLight);
    border-bottom: .125rem solid var(--accent-pink);
    transform: none;
    transition: transform .2s ease-in-out;
    
}
.side-button:hover{
    cursor: pointer;
    transform: translate(0rem, -.125rem);
    transition: transform .2s ease-in-out;
}
.side-error{
    color: var(--accent-rose);
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side-text{
    color: var(--white-offWhite);
    display: flex;
    justify-content: center;
    padding: 5rem 0 0 0;
    font-size: 1.5rem;
    font-family: "Lato", sans-serif;
}
.tasks-container{
    position: absolute;
    width: 69vw;
    height: calc(100% - 2rem);
    background-color: var(--black-picker);
    top: 1rem;
    left: 0;
    border: none;
    border-radius: 2rem;
    box-shadow: .2rem .2rem .2rem 0 var(--accent-pink);
}
.header-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 2rem 0 0 0;
}
.header{
    padding: 1rem 0rem;
    width: 15vw;
    text-align: center;
    color: var(--white-offWhite);
    background-color: var(--black-pickerLight);
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    border-bottom: .125rem solid var(--accent-pink);
}
.list-container{
    position: absolute;
    display: flex;
    justify-content: space-around;
    background-color: var(--black-picker);
    margin: 8rem 0 0 0;
    width: 100%;
    height: 85%;
    left: 0;
    top: 0;
    border-radius: 2rem;
}
.tasks-list{
    color: var(--white-offWhite);
    display: flex;
    flex-direction: column;
    width: 15vw;
    padding: 0rem 0rem;
    background-color: var(--black-picker);
    border: none;
    border-radius: 1rem;
    padding: 1rem 0 0 0;
}
.tasks{
    width: 100%;
    height: 6vh;
    min-height: 6vh;
    color: var(--white-offWhite);
    background-color: var(--black-pickerLight);
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
    margin: 0 0 1rem 0;
    overflow-wrap: anywhere;
    border-left: thin solid var(--accent-pink);
    border-right: thin solid var(--accent-pink);
    border-radius: 1rem;
    user-select: none;
    overflow: hidden;
    .task-info{
        cursor: pointer;
        .tasks-description{
            text-align: left;
            display: none;
            opacity: 0;
            transition-property: display opacity;
            transition-duration: .2s;
            transition-behavior: allow-discrete;
            animation: .2s ease-in-out forwards desc-hide;
        }
    }
    transition: min-height .2s ease-in-out .2s, padding .2s ease-in-out .2s, box-shadow .2s ease-in-out;
}
.tasks:hover{
    box-shadow: 0rem 0rem 1rem -.4rem var(--accent-pink);
}
.tasks.completed-task{
    .card-title{
        text-decoration: line-through;
    }
}


.task-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    translate: 0rem 0rem;
    transition: translate .2s ease-in-out;
    font-size: 1rem;
}
.task-info:hover{
    translate: 0rem -.2rem;
    transition: translate .2s ease-in-out;
}
.tasks.expanded-task{
    padding: 1rem 0;
    min-height: 10vh;
    height: fit-content;
    overflow: hidden;
    .task-info{
        .tasks-description{
            display: inline;
            opacity: 0;
            transition-property: display opacity;
            transition-duration: 1s;
            transition-behavior: allow-discrete;
            animation: .4s ease-in-out forwards desc-show;
        }
    }
    .tasks-arrow{
        width: 1.3rem;
    }
    transition: min-height .2s ease-in-out, padding .2s ease-in-out, height .2s ease-in-out, box-shadow .2s ease-in-out;
}
@keyframes desc-show {
    0%{
        opacity: 0;
        font-size: .01rem;
    }
    100%{
        opacity: 1;
        font-size: 1rem;
    }
}
@keyframes desc-hide {
    0%{
        opacity: 1;
        font-size: 1rem;
    }
    100%{
        opacity: 0;
        font-size: .01rem;
    }
}
.checker{
    z-index: 2;
}
.tasks-checkbox{
    width: 1rem;
}
.tasks-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}

.card-title{
    position: absolute;
    left: 0;
    width: 40%;
    color: var(--white-offWhite);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 0 1rem;
}
.card-hour{
    position: absolute;
    right: 0;
    color: var(--white-offWhite);
    padding: 0 .5rem 0 0;
}
.tasks-description{
    color: var(--white-bone);
    display: none;
    padding: 0 0 0 1rem;
}
.tasks-arrow{
    width: 1rem;
    cursor: pointer;
    background-color: transparent;
    padding: 0 .3rem 0 0;
    animation: .2s ease-out forwards toDefault;
}
.tasks-arrow:hover{
    animation: .2s ease-out forwards toColor;
}
@keyframes toColor {
    0%{
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(65%);
    }
    100%{
        filter: invert(75%) sepia(76%) saturate(4975%) hue-rotate(270deg) brightness(100%) contrast(99%);
    }
}
@keyframes toDefault {
    0%{
        filter: invert(75%) sepia(76%) saturate(4975%) hue-rotate(270deg) brightness(100%) contrast(99%);
    }
    100%{
        filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(0%) contrast(65%);
    }
}





.check-input {
    display: none;
}
.checkbox {
    margin: 0 0 0 .5rem;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--white-bone);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px;
    transition: 0.3s all;
    z-index: 2;

}
.check-input:hover + .checkbox:hover{
    border: 2px solid var(--second-green);
}
.checkbox svg {
    width: 20px;
    height: 20px;
    z-index: 2;

}
.check-input:checked + .checkbox {
    background: 	transparent ;
    border: 2px solid 	var(--second-green);
    z-index: 2;

}
.check-input:checked + .checkbox svg path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke: var(--white-bone);
    stroke-width: 3;
    animation: check 4s forwards;
    z-index: 2;
}
.checkbox::before {
    content: "";
    background: var(--second-green);
    position: absolute;
    border-radius: 50%;
    transform: scale(0%);
    display: block;
    width: 2rem;
    height: 2rem;
    z-index: 1;
}
.check-input:checked + .checkbox::before {
    animation: ripple 0.3s;
}
@keyframes check {
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes ripple {
    to {
        transform: scale(1.2);
    }
}