:root{
    --black-matteBlack: #28282B;
    --black-default: #030104;
    --black-picker: #232323;
    --black-pickerLight: #2c2c2c;
    
    --white-offWhite: #FAF9F6;
    --white-bone: 	#F9F6EE;
    
    --second-skyBlue: #87CEEB;
    --second-steel:	#4682B4;
    --second-indigo: 	#3F00FF;
    
    --accent-purple: #800080;
    --accent-purple-light:	#9C6FE4;
    --accent-rose: 	#F33A6A;
    --accent-pink: 	#FFB6C1;

    --gray: #333437;
    --gray-picker-light: #C6C7C8;
    --gray-picker-dark: #6B6D70;
    --gray-picker: #98989B; 
}

html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    display: none;
}
.newTask-tab{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-image: linear-gradient(216deg, rgba(77, 77, 77,0.05) 0%, rgba(77, 77, 77,0.05) 25%,rgba(42, 42, 42,0.05) 25%, rgba(42, 42, 42,0.05) 38%,rgba(223, 223, 223,0.05) 38%, rgba(223, 223, 223,0.05) 75%,rgba(36, 36, 36,0.05) 75%, rgba(36, 36, 36,0.05) 100%),linear-gradient(44deg, rgba(128, 128, 128,0.05) 0%, rgba(128, 128, 128,0.05) 34%,rgba(212, 212, 212,0.05) 34%, rgba(212, 212, 212,0.05) 57%,rgba(25, 25, 25,0.05) 57%, rgba(25, 25, 25,0.05) 89%,rgba(135, 135, 135,0.05) 89%, rgba(135, 135, 135,0.05) 100%),linear-gradient(241deg, rgba(55, 55, 55,0.05) 0%, rgba(55, 55, 55,0.05) 14%,rgba(209, 209, 209,0.05) 14%, rgba(209, 209, 209,0.05) 60%,rgba(245, 245, 245,0.05) 60%, rgba(245, 245, 245,0.05) 69%,rgba(164, 164, 164,0.05) 69%, rgba(164, 164, 164,0.05) 100%),linear-gradient(249deg, rgba(248, 248, 248,0.05) 0%, rgba(248, 248, 248,0.05) 32%,rgba(148, 148, 148,0.05) 32%, rgba(148, 148, 148,0.05) 35%,rgba(202, 202, 202,0.05) 35%, rgba(202, 202, 202,0.05) 51%,rgba(181, 181, 181,0.05) 51%, rgba(181, 181, 181,0.05) 100%),linear-gradient(92deg, hsl(214,0%,11%),hsl(214,0%,11%));
    overflow: hidden;
}
.newTask-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-picker);
    width: 50%;
    position: absolute;
    align-items: center;
    border: none;
    border-radius: 2rem;
    box-shadow: .2rem .2rem .2rem 0 var(--accent-pink);
}
a{
    text-decoration: none;
    text-align: center;
}
.newTask-side-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 3rem;
    z-index: 2;
}

.newTask-title, .newTask-subtitle, .newTask-priority, .newTask-status, .newTask-category, .newTask-date, .newTask-hour, .newTask-desc, .newTask-buttons{
    color: var(--white-offWhite);
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    cursor: default;
}
.newTask-title{
    justify-content: center;
    padding: 2rem 0 0 0;
    font-size: 3rem;
}
.newTask-subtitle-box, .select-newTask-priority, .select-newTask-status, .newTask-date-box, .newTask-hour-box, .newTask-desc-area, .select-newTask-category{
    background-color: var(--black-pickerLight);
    color: var(--white-offWhite);
    width: 9vw;
    height: 4vh;
    padding: 0 1rem;
    font-size: 1rem;
    border: .125rem solid var(--black-pickerLight);
    border-bottom: .125rem solid var(--accent-pink);
    border-radius: .5rem;
    appearance: none;
    cursor: pointer;
}
::placeholder {
    color: var(--white-offWhite);
    font-size: 1rem;
}
.select-newTask-priority, .select-newTask-status, .select-newTask-category{
    width: calc(10vw + 1rem);
    height: 4vh;
    background-color: var(--black-pickerLight);
    border: .125rem solid var(--black-pickerLight);
    border-bottom: .125rem solid var(--accent-pink);
    border-radius: .5rem;
    font-size: 1rem;
    padding: 0 0 0 1rem;
    color: var(--white-offWhite);
    outline: none; 
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    cursor: pointer;
}
.newTask-subtitle-box:focus, select:focus, .newTask-date-box:focus, .newTask-hour-box:focus, .newTask-desc-area:focus{
    outline: none;
    border: .125rem solid var(--black-picker);
    border-bottom: .125rem solid var(--accent-pink);
    background-color: var(--black-picker);
}
option{
    background-color: var(--black-pickerLight);
    color: var(--white-offWhite);
    font-size: 1rem;
}
.newTask-date-box::-webkit-calendar-picker-indicator, .newTask-hour-box::-webkit-calendar-picker-indicator  {
    filter: invert(1);
    transform: scale(1.5);
    cursor: pointer;
}
.newTask-hour-box, .newTask-date-box{
    cursor: default;  
}
.newTask-desc-area{
    width: 10vw;
    height: 10vh;
    padding-top: 1rem;
}
.newTask-buttons{
    padding: 0 0 2rem 0;
}
.newTask-button{
    background-color: rgba(255,182,193,.7);
    box-shadow: .1rem .1rem .2rem var(--black-default);
    color: var(--black-matteBlack);
    font-size: 1.2rem;
    width: 6vw;
    padding: .5rem 0rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    translate: 0 0;
    transition: translate .1s ease-in-out;
}
.newTask-button:hover{
    translate: 0 -.1rem;
    background-color: rgba(255,182,193,1);
}
