:root{
    --black-matteBlack: #28282B;
    --black-default: #030104;
    --black-picker: #232323;
    --black-pickerLight: #2c2c2c;
    
    --white-offWhite: #FAF9F6;
    --white-bone: 	#F9F6EE;
    
    --second-skyBlue: #87CEEB;
    --second-steel:	#4682B4;
    --second-indigo: 	#3F00FF;
    
    --accent-purple: #800080;
    --accent-purple-light:	#9C6FE4;
    --accent-rose: 	#F33A6A;
    --accent-pink: 	#FFB6C1;

    --gray: #333437;
    --gray-picker-light: #C6C7C8;
    --gray-picker-dark: #6B6D70;
    --gray-picker: #98989B; 

    --bright: brightness(100%);
}
html{
    scroll-behavior: smooth;
}
.nav-container{
    background-color: var(--black-pickerLight);
    background-image: repeating-linear-gradient(45deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(0deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(135deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(207,0%,63%,0.05) 0px, hsla(207,0%,63%,0.05) 1px,transparent 1px, transparent 11px,hsla(207,0%,63%,0.05) 11px, hsla(207,0%,63%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(44,44,44),rgb(44,44,44));
    
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.navbar{
    position: fixed;
    left: 0;
    z-index: 5;
    width: 8rem;
    height: 100%;
}
.icons-container{
    position: absolute;
    top: 10vh;
    left: 2vw;
    padding: 10rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.logo-icon{
    position: absolute;
    top: 1vw;
    left: 1vw;
    width: 5rem;
    padding: 0 .5rem 0 0;
}
.icon{
    width: 2.5rem;
    cursor: pointer;
    animation: .2s ease-out forwards bright-ani2;
}
.icon:hover{
    animation: .2s ease-out forwards bright-ani;
}
.logout{
    position: absolute;
    bottom: 1vh;
    left: 2vw;
    cursor: pointer;
}
.logout-tab-show{
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition-property: display opacity;
    transition-duration: .2s;
    transition-behavior: allow-discrete;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    animation: .2s ease-in-out forwards desc-show;
}
.logout-tab-none{
    z-index: 2;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    opacity: 0;
    transition-property: display opacity;
    transition-duration: .2s;
    transition-behavior: allow-discrete;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    animation: .2s ease-in-out forwards desc-hide;
}
@keyframes desc-show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes desc-hide {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.logout-box{
    background-color: var(--black-pickerLight);
    box-shadow: .2rem .2rem .2rem var(--accent-pink);
    padding: 2rem 2rem;
    border: none;
    border-radius: 1rem;
}
.logout-span{
    color: var(--white-offWhite);
    font-size: 1.2rem;
}
.logout-buttons{
    display: flex;
    padding: 2rem 0 0 0;
    justify-content: space-between;
}
.button{
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--accent-pink);
    box-shadow: .2rem .2rem .2rem var(--black-default);
    font-size: 1rem;
    cursor: pointer;
    transition: translate .1s ease-in-out;
}
.button:hover{
    translate: 0 -.1rem;

}

@keyframes bright-ani {
    0%{
        filter: invert(75%) sepia(76%) saturate(4975%) hue-rotate(270deg) brightness(500%) contrast(99%)
    }
    100%{
        filter: invert(75%) sepia(76%) saturate(4975%) hue-rotate(270deg) brightness(100%) contrast(99%);
    }
}
@keyframes bright-ani2 {
    0%{
        filter: invert(75%) sepia(76%) saturate(4975%) hue-rotate(270deg) brightness(100%) contrast(99%);
    }
    100%{
        filter: invert(75%) sepia(76%) saturate(4975%) hue-rotate(270deg) brightness(500%) contrast(100%);
    }
}